# EditorConfig: http://EditorConfig.org

# top-most EditorConfig file
root = true

# General settings
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Source code files
[*.java]
indent_style = space
indent_size = 2
