syntax: glob
localization.conf
localizedConfigStrings.conf
oxt/WollMux.rdb
idl/de/muenchen/allg/itd51/wollmux/*.urd
idl/de/muenchen/allg/itd51/wollmux/*.class
oxt/WollMux.uno.jar
*~
/target
/idl/target
*.urd
.project
.classpath
/.settings
.vscode/
release.properties
