syntax: glob
localization.conf
localizedConfigStrings.conf
oxt/WollMux.rdb
idl/de/muenchen/allg/itd51/wollmux/*.urd
idl/de/muenchen/allg/itd51/wollmux/*.class
bin/de
bin/data
bin/com
dist/deb/wollmux-*.tar.gz
dist/deb/wollmux_*.orig.tar.gz
dist/deb/openoffice.org-wollmux_*.deb
dist/deb/*.deb
dist/deb/wollmux*.dsc
dist/deb/wollmux*.diff.gz
dist/deb/wollmux*.changes
dist/WollMux.oxt
dist/WollMux.uno.pkg
dist/WollMuxBar.jar
dist/WollMuxInterfaces.jar
dist/md5sums.txt
dist/WollMux.update.xml
dist/TerminateOOo.jar
dist/wollmux-*-installer.exe
dist/wollmux-*.tar.gz
oxt/WollMux.uno.jar
*~
/target
/idl/target
*.urd
misc/version
.project
.classpath
/.settings
.vscode/
dist/WollMux.oxt
dist/WollMux.zip
dist/WollMux-AOO.oxt
dist/WollMux_ButtonsOnly.oxt
dist/WollMux*manual_installation.tgz
dist/wollmuxbar.exe
lhmdeb/lhm/WollMux.update.xml
lhmdeb/lhm/buildinfo
lhmdeb/lhm/description.xml
