Source: wollmux
Section: lhm/misc
Priority: optional
Maintainer: Felix WollMux <wollmux-general@lists.forge.osor.eu>
Standards-Version: 3.6.1

Package: wollmux
Architecture: all
Depends: openoffice.org3 | openoffice.org-core01 | openoffice.org-core, ooobasis3-core02 | ooobasis3.0-core02 | openoffice.org-core02 | openoffice.org-common
Recommends: wollmux-standalone-config
Description: Das Briefkopfsystem der Landeshauptstadt München
 Das Briefkopfsystem der Landeshauptstadt München
