#!/usr/bin/make -f
# -*- makefile -*-

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	ant WollMuxBar.jar WollMux.oxt
	touch build-stamp

clean:
	dh_testdir
	ant clean
	rm -f build-stamp configure-stamp
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/wollmux.
	mkdir -p $(CURDIR)/debian/wollmux/usr/lib/wollmux
	cp dist/{WollMuxBar.jar,WollMux.uno.pkg} $(CURDIR)/debian/wollmux/usr/lib/wollmux
	mkdir -p $(CURDIR)/debian/wollmux/usr/bin
	cp dist/wollmuxbar $(CURDIR)/debian/wollmux/usr/bin
	chmod a+x $(CURDIR)/debian/wollmux/usr/bin

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
