Source: wollmux
Section: lhm/misc
Priority: optional
Maintainer: WollMux mailing list <wollmux-general@lists.forge.osor.eu>
Uploaders: Felix WollMux <wollmux-general@lists.forge.osor.eu>
Build-Depends: ant, cdbs, debhelper (>= 5), inkscape, openjdk-8-jdk|oracle-java8-jdk 
Standards-Version: 3.8.0
Homepage: http://www.wollmux.org

Package: libreoffice5.2-wollmux
Architecture: all
Depends: ${misc:Depends}, default-jre, libreoffice5.2-writer, python3
Conflicts: libreoffice-wollmux (<< ${binary:Version}), wollmux (<< ${binary:Version}), wollmuxbar (<< ${binary:Version}), libreoffice6.1-wollmux
Replaces: libreoffice-wollmux (<< ${binary:Version}), wollmux (<< ${binary:Version}), wollmuxbar (<< ${binary:Version}), libreoffice6.1-wollmux
Provides: libreoffice-wollmux, wollmux, wollmuxbar
Multi-arch: foreign
Description: WollMux extension for LibreOffice
 The package adds an extension to LibreOffice with the following features:
  - On the fly template generation from fragments (e.g. letterhead, footer,
    form)
  - Pre-filling templates with personal and organizational data from a variety
    of databases (LDAP, local user data, and other sources)
  - Advanced form support with auto-computed fields and input validity checking
  - Improved user interface for interactive form data
  - Hiding and showing parts of the document based on form input
  - Advanced autotext support with identifier pattern matching and a shortcut
    syntax for filling in placeholders
  - Chainable printing plugins to provide custom dialogs and transformations
    when printing
  - Automatic printing of document variants according to document content
  - Enhanced serial letter functionality that ties in with the form
    functionality (e.g. auto-computed fields) and the custom print plugins.

