Source: wollmux
Section: lhm/misc
Priority: optional
Maintainer: WollMux mailing list <wollmux-general@lists.forge.osor.eu>
Uploaders: Felix WollMux <wollmux-general@lists.forge.osor.eu>
Build-Depends: ant, cdbs, debhelper (>= 5),
 inkscape, oracle-j2sdk1.6, libobasis3.6-sdk|libobasis4.1-sdk|ooobasis3.0-sdk|ooobasis3.1-sdk|ooobasis3.2-sdk, 
 libreoffice3.6|libreoffice4.1|openoffice.org3, libreoffice-debian-menus|libreoffice4.1-debian-menus|openoffice.org-debian-menus
X-Debian-Build-Depends: libobasis3.6-javafilter|libobasis4.1-javafilter|openoffice.org-java-common, libobasis3.6-sdk|libobasis4.1-sdk|openoffice.org-dev
X-Upstream-Build-Depends: libobasis3.6-sdk|libobasis4.1-sdk|ooobasis3.0-sdk|ooobasis3.1-sdk|ooobasis3.2-sdk,
 libreoffice3.6|libreoffice4.1|openoffice.org3, libreoffice-debian-menus|libreoffice4.1-debian-menus|openoffice.org-debian-menus
X-Halut-Java-Build-Depends: sun-j2sdk1.6
X-Debian-Java-Build-Depends: sun-java6-jdk
Standards-Version: 3.8.0
Homepage: http://www.wollmux.org

Package: libreoffice-wollmux
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, java6-runtime, libreoffice4.1-meta
X-Debian-Depends: libobasis3.6-javafilter|libobasis4.1-javafilter:any
X-Upstream-Depends: libreoffice-debian-menus
Suggests: wollmuxbar
Multi-arch: foreign
Description: WollMux extension for LibreOffice
 The package adds an extension to LibreOffice with the following features:
  - On the fly template generation from fragments (e.g. letterhead, footer,
    form)
  - Pre-filling templates with personal and organizational data from a variety
    of databases (LDAP, local user data, and other sources)
  - Advanced form support with auto-computed fields and input validity checking
  - Improved user interface for interactive form data
  - Hiding and showing parts of the document based on form input
  - Advanced autotext support with identifier pattern matching and a shortcut
    syntax for filling in placeholders
  - Chainable printing plugins to provide custom dialogs and transformations
    when printing
  - Automatic printing of document variants according to document content
  - Enhanced serial letter functionality that ties in with the form
    functionality (e.g. auto-computed fields) and the custom print plugins.

Package: openoffice.org-wollmux
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, java6-runtime,
 openoffice.org-writer, openoffice.org-debian-menus
X-Debian-Depends: openoffice.org-java-common (>= 3.0.0)
X-Upstream-Depends: openoffice.org-debian-menus
Suggests: wollmuxbar
Multi-arch: foreign
Description: WollMux extension for OpenOffice.org Writer
 The package adds an extension to Openoffice.org with the following features:
  - On the fly template generation from fragments (e.g. letterhead, footer,
    form)
  - Pre-filling templates with personal and organizational data from a variety
    of databases (LDAP, local user data, and other sources)
  - Advanced form support with auto-computed fields and input validity checking
  - Improved user interface for interactive form data
  - Hiding and showing parts of the document based on form input
  - Advanced autotext support with identifier pattern matching and a shortcut
    syntax for filling in placeholders
  - Chainable printing plugins to provide custom dialogs and transformations
    when printing
  - Automatic printing of document variants according to document content
  - Enhanced serial letter functionality that ties in with the form
    functionality (e.g. auto-computed fields) and the custom print plugins.

Package: wollmuxbar
Architecture: all
Depends: openoffice.org-wollmux (= ${binary:Version}) | libreoffice-wollmux (= ${binary:Version})
Conflicts: wollmux (<< ${binary:Version})
Replaces: wollmux (<< ${binary:Version})
Multi-arch: foreign
Description: Standalone toolbar for WollMux
 The package adds a toolbar to your desktop that provides easy access to the
 libreoffice-wollmux extension without a permanently running instance of
 LibreOffice / Apache OpenOffice / OpenOffice.org Writer.

Package: wollmux
Architecture: all
Depends: wollmuxbar (= ${binary:Version})
Multi-arch: foreign
Description: Transitional package for WollMux Bar
 Ease transition from wollmux to wollmuxbar package

