#!/usr/bin/make -f

# Add verbosity
#export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk

build/libreoffice5.2-wollmux:: debian/stamp-build
debian/stamp-build:
	pod2man -c 'WollMux for Landeshauptstadt München' \
	  -r WollMux-$(DEB_UPSTREAM_VERSION) \
	  debian/wollmuxbar.pod > debian/wollmuxbar.1
	inkscape -h 128 -D -e debian/wollmuxbar.png debian/frog.svg
	touch $@

clean::
	$(RM) debian/stamp-* debian/wollmuxbar.1 debian/wollmuxbar.png 
	$(RM) debian/*.{pre,post}{inst,rm}


